nav {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  margin: 0;
  margin-bottom: 2rem;
  border: 1px solid #e8e8e8;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: flex;
  align-items: center;
}

.navlinks li {
  padding: 10px 15px;
}

.navlinks a {
  text-decoration: none;
  color: #121212;
  font-size: 16px;
}

.navlinks a:hover {
  color: rgb(44, 124, 161);
}

.navlinks a:active {
  color: #121212;
}

.navlinks h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--primary);
}

.navbar .user {
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  color: var(--primary);
  cursor: pointer;
}

@media (max-width: 756px) {
  .navlinks h2 {
    font-size: 1.2rem;
  }

  .navlinks li {
    padding: 8px 10px;
  }

  .navlinks a {
    font-size: 13px;
  }

  .navbar .user {
    width: 1rem;
    height: 1rem;
  }
}
