body {
  background-color: #fff;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

p {
  color: rgb(59, 59, 59);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(59, 59, 59);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 967px;
  height: 100vh;
  padding: 0 20px;
}
