:root{
  --primary:#0290ff;
  --white: #ffffff;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

p {
  color: rgb(59, 59, 59);
}

.container {
  box-sizing: border-box;
  max-width: 967px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
  margin-right: 0;
}
